[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ArvindSt"]
	path = ArvindSt
	url = https://github.com/shikhartyagi/arvindst
[submodule "GammaFrailty"]
	path = GammaFrailty
	url = https://github.com/cran/GammaFrailty
