[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AdaptHyCensor"]
	path = AdaptHyCensor
	url = https://github.com/cran/AdaptHyCensor
[submodule "AlphaPowerHazard"]
	path = AlphaPowerHazard
	url = https://github.com/cran/AlphaPowerHazard
[submodule "ArvindSt"]
	path = ArvindSt
	url = https://github.com/shikhartyagi/arvindst
[submodule "BDPTobitQR"]
	path = BDPTobitQR
	url = https://github.com/cran/BDPTobitQR
[submodule "BayesPanelUR"]
	path = BayesPanelUR
	url = https://github.com/cran/BayesPanelUR
[submodule "BayesQRCount"]
	path = BayesQRCount
	url = https://github.com/cran/BayesQRCount
[submodule "BayesSplineUR"]
	path = BayesSplineUR
	url = https://github.com/cran/BayesSplineUR
[submodule "BayesURTrend"]
	path = BayesURTrend
	url = https://github.com/cran/BayesURTrend
[submodule "CompRiskRel"]
	path = CompRiskRel
	url = https://github.com/cran/CompRiskRel
[submodule "DepDoubleTruncKS"]
	path = DepDoubleTruncKS
	url = https://github.com/cran/DepDoubleTruncKS
[submodule "GammaFrailty"]
	path = GammaFrailty
	url = https://github.com/cran/GammaFrailty
[submodule "GammaFrailtySPC"]
	path = GammaFrailtySPC
	url = https://github.com/cran/GammaFrailtySPC
[submodule "Gofpt2"]
	path = Gofpt2
	url = https://github.com/cran/Gofpt2
[submodule "ImpAdaptType2Censor"]
	path = ImpAdaptType2Censor
	url = https://github.com/cran/ImpAdaptType2Censor
[submodule "LugsailGR"]
	path = LugsailGR
	url = https://github.com/cran/LugsailGR
[submodule "MAARTS"]
	path = MAARTS
	url = https://github.com/cran/MAARTS
[submodule "MYIS"]
	path = MYIS
	url = https://github.com/cran/MYIS
[submodule "MleCensoR"]
	path = MleCensoR
	url = https://github.com/cran/MleCensoR
[submodule "ModToppLeone"]
	path = ModToppLeone
	url = https://github.com/cran/ModToppLeone
[submodule "MultiFrailty"]
	path = MultiFrailty
	url = https://github.com/cran/MultiFrailty
[submodule "MultiStepSSAD"]
	path = MultiStepSSAD
	url = https://github.com/cran/MultiStepSSAD
[submodule "ProcessCapabilityR"]
	path = ProcessCapabilityR
	url = https://github.com/cran/ProcessCapabilityR
[submodule "SemiParamBernsteinDepCS"]
	path = SemiParamBernsteinDepCS
	url = https://github.com/cran/SemiParamBernsteinDepCS
[submodule "SingRegKrig"]
	path = SingRegKrig
	url = https://github.com/cran/SingRegKrig
[submodule "StochFracPoisson"]
	path = StochFracPoisson
	url = https://github.com/cran/StochFracPoisson
[submodule "StressCensoR"]
	path = StressCensoR
	url = https://github.com/cran/StressCensoR
[submodule "TKApprox"]
	path = TKApprox
	url = https://github.com/cran/TKApprox
[submodule "UniCensor"]
	path = UniCensor
	url = https://github.com/cran/UniCensor
[submodule "UniCensorEM"]
	path = UniCensorEM
	url = https://github.com/cran/UniCensorEM
[submodule "UniIS"]
	path = UniIS
	url = https://github.com/cran/UniIS
[submodule "UniLindleyApprox"]
	path = UniLindleyApprox
	url = https://github.com/cran/UniLindleyApprox
[submodule "coxmnar"]
	path = coxmnar
	url = https://github.com/cran/coxmnar
[submodule "gofLorenz"]
	path = gofLorenz
	url = https://github.com/cran/gofLorenz
[submodule "gofPHCS"]
	path = gofPHCS
	url = https://github.com/cran/gofPHCS
[submodule "gofmalm"]
	path = gofmalm
	url = https://github.com/cran/gofmalm
[submodule "gpciEMprogII"]
	path = gpciEMprogII
	url = https://github.com/cran/gpciEMprogII
[submodule "gpciImpSam"]
	path = gpciImpSam
	url = https://github.com/cran/gpciImpSam
[submodule "gpciIntCensor"]
	path = gpciIntCensor
	url = https://github.com/cran/gpciIntCensor
[submodule "gpciProgTyII"]
	path = gpciProgTyII
	url = https://github.com/cran/gpciProgTyII
[submodule "gpciProgTyIIImpSam"]
	path = gpciProgTyIIImpSam
	url = https://github.com/cran/gpciProgTyIIImpSam
[submodule "predHCS"]
	path = predHCS
	url = https://github.com/cran/predHCS
