[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AdaptHyCensor"]
	path = AdaptHyCensor
	url = https://github.com/cran/AdaptHyCensor
[submodule "AlphaPowerHazard"]
	path = AlphaPowerHazard
	url = https://github.com/cran/AlphaPowerHazard
[submodule "ArvindSt"]
	path = ArvindSt
	url = https://github.com/shikhartyagi/arvindst
[submodule "BayesQRCount"]
	path = BayesQRCount
	url = https://github.com/cran/BayesQRCount
[submodule "CompRiskRel"]
	path = CompRiskRel
	url = https://github.com/cran/CompRiskRel
[submodule "GammaFrailty"]
	path = GammaFrailty
	url = https://github.com/cran/GammaFrailty
[submodule "Gofpt2"]
	path = Gofpt2
	url = https://github.com/cran/Gofpt2
[submodule "LugsailGR"]
	path = LugsailGR
	url = https://github.com/cran/LugsailGR
[submodule "MAARTS"]
	path = MAARTS
	url = https://github.com/cran/MAARTS
[submodule "MYIS"]
	path = MYIS
	url = https://github.com/cran/MYIS
[submodule "MleCensoR"]
	path = MleCensoR
	url = https://github.com/cran/MleCensoR
[submodule "ProcessCapabilityR"]
	path = ProcessCapabilityR
	url = https://github.com/cran/ProcessCapabilityR
[submodule "StochFracPoisson"]
	path = StochFracPoisson
	url = https://github.com/cran/StochFracPoisson
[submodule "StressCensoR"]
	path = StressCensoR
	url = https://github.com/cran/StressCensoR
[submodule "UniCensor"]
	path = UniCensor
	url = https://github.com/cran/UniCensor
[submodule "UniCensorEM"]
	path = UniCensorEM
	url = https://github.com/cran/UniCensorEM
[submodule "coxmnar"]
	path = coxmnar
	url = https://github.com/cran/coxmnar
[submodule "gofPHCS"]
	path = gofPHCS
	url = https://github.com/cran/gofPHCS
[submodule "gofmalm"]
	path = gofmalm
	url = https://github.com/cran/gofmalm
[submodule "predHCS"]
	path = predHCS
	url = https://github.com/cran/predHCS
